!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/assets/css/app.css")
    %link(rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css")
    %script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    %script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js')
    %script(src='/application.js')

  %body(ng-app)
    %h2 Projects
    %div(ng:controller="ProjectsCtrl")
      %table(ng:show="projects.length || unpublished.length")
        %thead
          %tr
            %th Project
            %th Published
        %tbody
          %tr(ng:repeat="project in projects")
            %td {{project.name}}
            %td {{project.published_at | date: 'fullDate'}}
            %td(ng:show="project.public_url")
              %a(href="{{project.public_url}}") View
          %tr(ng:repeat="folder in unpublished")
            %td {{folder.name}}
            %td
            %td
              %a Publish

      %div(ng:show="!projects.length && !unpublished.length")
        Add a sample project to your Dropbox folder?
